.nomargin {
	margin: 0;
	padding: 0;
}

.image_w_caption {
	text-align: center;
	margin: 1em 0;
}

.image_w_caption img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin-bottom: 0.5em;
	}
	
#mapPage {
	height: 100%;
}